@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">Кабінет користувача</h1>
</div>

Д.З. Додати у підвал (footer) сайту відомості про авторизованого 
користувача: вивести ім'я та пошту 
(с) 2024; авторизовано для "Користувач" (user@i.ua)
