@{
    ViewData["Title"] = "Razor";
}

<div class="page-title">
    <img src="/img/asp.net.png" alt="ASP logo" />
    <h1 class="display-4">Синтаксис Razor.</h1>
</div>

<p>
    Синтаксис Razor використовується для розширення можливостей HTML
</p>
<ul>
    <li>використання змінних та виразів</li>
    <li>умовні блоки (умовна верстка)</li>
    <li>циклічна верстка</li>
</ul>

<p>
    Основу складає символ <code>&commat;</code>, 
    що обмежує використання цього символу у HTML, 
    замість нього вживається сутність <code>&amp;commat;</code>
</p>
<h3>Вирази</h3>
<p>
    Результати виразів відображаються інструкцією 
    <code>&commat;(2 + 2) = @(2 + 2)</code>
</p>

Д.З. "Вступ"
Переконатись, що у Visual Studio Installer встановлено блок ASP
Створити ASP проєкт за шаблоном MVC
Створити сторінку, яка пояснює структуру URL: містить картинку 
 з розбором URL на частини та описує їх зміст 
Вивести на сторінці дату звернення (має оновлюватись самостійно
 з перезавантаженням сторінки)
