@model ASP_P15.Models.Shop.ShopPageModel
@{
    ViewData["Title"] = "Shop";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;

}

<div class="text-center">
    <h1 class="display-4">Крамниця</h1>
</div>

@foreach (var grp in Model.ProductGroups)
{
    @Html.DisplayFor(m => grp)
}


@if (isAuthenticated)
{
    <hr />
    <form enctype="multipart/form-data" method="post" id="shop-group-form">
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="name-addon"><i class="bi bi-body-text"></i></span>
                    <input name="group-name" type="text" class="form-control "
                           placeholder="Назва групи" aria-label="Назва групи" aria-describedby="name-addon">
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="description-addon"><i class="bi bi-person-vcard"></i></span>
                    <textarea name="group-description" type="text" class="form-control " placeholder="Опис" aria-label="Опис" aria-describedby="description-addon"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01"><i class="bi bi-diagram-2"></i></label>
                    <input name="group-picture" type="file" class="form-control" id="inputGroupFile01">
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="slug-addon"><i class="bi bi-body-text"></i></span>
                    <input name="group-slug" type="text" class="form-control "
                            placeholder="Slug групи" aria-describedby="slug-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <button type="submit" class="btn btn-outline-secondary">Додати</button>
            </div>
        </div>
    </form>
    <hr />
    <form enctype="multipart/form-data" method="post" id="shop-product-form">
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="name-addon"><i class="bi bi-body-text"></i></span>
                    <input name="product-name" type="text" class="form-control " placeholder="Назва товару" aria-label="Назва товару" aria-describedby="name-addon">
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="description-addon"><i class="bi bi-person-vcard"></i></span>
                    <textarea name="product-description" type="text" class="form-control " placeholder="Опис" aria-label="Опис" aria-describedby="description-addon"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-addon"><i class="bi bi-body-text"></i></span>
                    <input name="product-price" type="number" class="form-control " placeholder="Ціна товару" aria-label="Ціна товару" aria-describedby="price-addon">
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="amount-addon"><i class="bi bi-person-vcard"></i></span>
                    <input name="product-amount" type="number" class="form-control " placeholder="Кіл-ть товару" aria-label="Кіл-ть товару" aria-describedby="amount-addon">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Група</label>
                    <select name="group-id" class="form-select" id="inputGroupSelect01">
                        @foreach (var grp in Model.ProductGroups)
                        {
                            <option value="@(grp.Id)">@grp.Name (@grp.Description)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="slug-addon"><i class="bi bi-person-vcard"></i></span>
                    <input name="product-slug" type="text" 
                           class="form-control " placeholder="Slug товару"
                           aria-label="Slug товару" aria-describedby="slug-addon">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01"><i class="bi bi-diagram-2"></i></label>
                    <input name="product-picture" type="file" class="form-control" id="inputGroupFile01">
                </div>
            </div>
            <div class="col col-6">
                <button type="submit" class="btn btn-outline-secondary">Додати</button>
            </div>
        </div>
    </form>
}
@*  Д.З. Продовжити роботу з відновлення видалених користувачів.
    * Зробити верстку "картки" для групи товарів

    Система маршрутизації
    Home/Shop/[Group]

    Shop/Group/[Group]
    Shop/Product/[ID]
*@