html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.groups-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.groups-row-item {
    border: 1px solid lightgray;
    margin: 10px 15px;
    padding: 8px;
}
.groups-row-item-selected {
    border: 1px solid tomato;
}
.groups-row-item img {
    height: 100px;
}

.page-title img {
    max-height: 8em;
    max-width: 10em;
    vertical-align: middle;
}
.page-title h1 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.avatar, .no-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}
.no-avatar {
    background-color: burlywood;
    font-size: x-large;
    text-align: center;
}
.a-no-underline {
    text-decoration: none;
}

/* #region PROFILE */
body {
    background-color: #f9f9fa
}

#profile-edit {
    cursor: pointer;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    background-color: antiquewhite;
    border-radius: 50%;
    display: block;
    width: 100px;
    max-height: 100px;
}
.avatar-letter {
    color: darkblue;
    font-size: 60px;
    height: 100px;
    margin: auto;
}


h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

/* endregion PROFILE */

/* region SHOP */
.product-group-card {
    height: 300px;
    width: 21vw;
    margin: 1vw;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}
.product-group-card img {
    margin: 0 10%;
    width: 80%;
    max-height: 220px;
}
.product-group-card a {
    text-decoration: none;
}
/* endregion SHOP */
